html {
	width: 100%;
	height: 100%;
	background: #ccc;
	font-size: 14px;
}

body {
	width: 1280px;
	height: 768px;
	position: relative;
	top: 50%;
	margin: -384px auto 0;
	font-size: 0.8em;
	line-height: 0.9em;
}

#game {
	float: right;
	width: 57%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: green;
}

#minimap {
	float: right;
	width: 43%;
	height: 33%;
	padding: 0;
	margin: 0;
	background: blue;
}

#lcs {
	float: right;
	width: 43%;
	height: 67%;
	padding: 0;
	margin: 0;
	background: black;
	color: white;
	box-sizing: border-box;
	padding: 5px;
}

.lcs-equip {
	height: 26px;
}

.skinny {
	width: 10%;
}

.fat {
	width: 40%;
}